.grid { 
	grid-template-columns: 288px 850px;
}

.slideshow {
	padding-bottom: 0;
}

.main-content img {
	padding: 20px;
    float: left;
}

.main-content p {
	width: 420px;
	padding: 20px;
    float: right;
}